.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  min-height: 400px;
  max-width: 1200px;
  margin: 0 auto 70px auto;
  padding: 40px;
  border-radius: 0 0 15px 15px;
}

.logoArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.textArea h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  color: #444;
}

.textArea p {
  font-size: 14px;
  max-width: 350px;
  line-height: 1.5;
  text-align: center;
  color: #444;
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }
  .textArea {
    align-items: center;
  }
}
