div.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #111;
    background-color: #101010;
} 

div.card p {
    flex: 1;
}