div.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    box-shadow: -10px -10px 20px rgba(35, 35, 35, 0.4), 10px 10px 20px rgba(0, 0, 0, 0.8);
} 

div.card p {
    flex: 1;
}