input.input {
    width: 100%;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    font-size: 14px;
    color: var(--theme);
    border-color: #222;
    background-color: transparent;
}

input.input:focus {
    border-color: #333;
}