.button {
  width: fit-content;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border: 1px solid #222;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.button:hover {
  color: #000;
  background-color: #fff;
}