.button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-color: #151515;
}

.button:hover {
    color: #000;
    background-color: var(--theme);
}