div.carousel {
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow-x: auto;
    touch-action: none;
    user-select: none;
}

div.carousel::-webkit-scrollbar {
    display: none;
}

div.carousel > div.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    animation: carousel 20s infinite linear;
}

div.carousel > div.group > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

div.carousel > div.group > div > img {
    filter: grayscale(0%);
}

div.carousel > div.group > div:last-child {
    margin-right: 15px;
}

@keyframes carousel {
    from { translate: 0; }
    to { translate: -100%; }
}