.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.list > li {
    font-size: 14px;
    color: #fff;
}

.list > li::before {
    content: "â—";
    display: inline-block;
    text-align: center;
    color: var(--theme);
    margin-right: 10px;
}