.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.list > li {
    font-size: 14px;
    color: #fff;
}

.list > li::before {
    content: "â—";
    color: var(--primary);
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}