div.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding-bottom: 15px;
}

div.feedback div.feedbackDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    width: 100%;
}

div.feedback div.feedbackAvatar img {
    width: 52px;
    height: 52px;
    filter: grayscale(100%);
    border-radius: 50%;
    object-fit: cover;
}

div.feedback div.feedbackStars {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

div.feedback div.feedbackStars i {
    font-size: 14px;
    animation: star-rotate 10s linear infinite;
    color: var(--theme);
}

@keyframes star-rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}