.feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.feedbackDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.feedbackAvatar > img {
    width: 52px;
    height: 52px;
    filter: grayscale(100%);
    border-radius: 10px;
    object-fit: cover;
}

.feedbackStars {
    display: flex;
    gap: 6px;
}

.feedbackStars i {
    color: #555;
    font-size: 14px;
}