.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.feedbackDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    height: fit-content;
    width: 100%;
}

.feedbackAvatar img {
    width: 52px;
    height: 52px;
    filter: grayscale(100%);
    border-radius: 10px;
    object-fit: cover;
}

.feedbackStars {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.feedbackStars i {
    color: #666;
    font-size: 14px;
}