.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    border-bottom: 1px solid #202020;
    padding-bottom: 15px;
}

.feedbackDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    width: 100%;
}

.feedbackAvatar img {
    width: 52px;
    height: 52px;
    filter: grayscale(100%);
    border-radius: 50%;
    object-fit: cover;
}

.feedbackStars {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.feedbackStars i {
    color: var(--theme);
    font-size: 12px;
    animation: star-rotate 10s linear infinite;
}

@keyframes star-rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}