.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    border-bottom: 1px solid #202020;
    padding-bottom: 15px;
}

.feedbackDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    height: fit-content;
    width: 100%;
}

.feedbackAvatar img {
    width: 52px;
    height: 52px;
    filter: grayscale(100%);
    border-radius: 50%;
    object-fit: cover;
}

.feedbackStars {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.feedbackStars i {
    color: var(--theme);
    font-size: 18px; /* Aumentei o tamanho para o efeito ser mais visível */
    cursor: pointer; /* Adiciona um cursor para indicar interatividade, se for o caso */
    
    /* Efeito de brilho/sombra */
    text-shadow: 0 0 5px var(--theme), /* Brilho suave */
                 0 0 10px rgba(255, 255, 255, 0.1); /* Brilho mais intenso e espalhado */
    
    /* Aplicação da Animação */
    animation: cintilar 1.5s ease-in-out infinite alternate;
}