.textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  border: 1px solid #222;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  resize: none;
  background-color: transparent;
}

.textarea:focus {
  border-color: #444;
}
