textarea.textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    resize: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    font-size: 14px;
    color: var(--theme);
    border-color: #222;
    background-color: transparent;
}

textarea.textarea:focus {
    border-color: #333;
}