nav.nav {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px auto;
}

nav.nav > a:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav.nav > a:first-child > img {
    width: 130px;
    padding: 15px 20px;
    border-radius: 10px 25px;
    background-color: #000;
}

nav.nav > a:first-child > p {
    font-family: "Saira", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    color: #777;
}

nav.nav > a:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav.nav > a:last-child > i,
nav.nav > a:last-child > p {
    color: #000;
}

nav.nav > a:last-child > i {
    font-size: 20px;
}

nav.nav > a:last-child > p {
    font-size: 14px;
}

@media all and (max-width: 700px) {
    nav.nav > a:first-child > p {
        display: none;
    }   
}