.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.social > i {
    padding-right: 20px;
    font-size: 35px;
    color: var(--theme);
    border-right: 1px solid #222;
}

.social > p {
    padding: 0 20px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
}