section.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 60px 0;
    min-height: 100vh;
}

@media all and (max-width: 1300px) {
    section.section {
        padding: 60px 30px;
    }
}