.infinite {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: -10px;
}

.infiniteLetter {
  font-size: 95px;
  color: #fff;
  font-family: "Saira", sans-serif;
  font-weight: 500;
}

.infiniteContainer {
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: center;
}

.infiniteCircle {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 -3.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infiniteCircle:nth-child(2) {
  transform: rotate(-180deg);
}

.infiniteCircle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.infiniteCircle span::before {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  right: 0;
  width: 7px;
  height: 15px;
  border-radius: 50%;
  transform: scale(0.1);
  animation: infiniteCircle 4s linear infinite, colorCycle 3s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

.infiniteCircle:nth-child(2) span::before {
  animation-delay: calc(-0.1s * var(--i));
}

@keyframes infiniteCircle {
  0% {
    transform: scale(1.2) rotate(180deg);
    background-color: #fff;
    box-shadow:
      0 0 15px currentColor,
      0 0 30px currentColor,
      0 0 60px currentColor,
      0 0 90px currentColor;
    filter: blur(1px);
  }
  50%, 100% {
    transform: scale(0.1);
    box-shadow: none;
    filter: blur(0);
  }
}

@keyframes colorCycle {
  0%   { color: #fff; }
  14%  { color: #fff; }
}

@media screen and (max-width: 800px) {
  .infiniteLetter {
    font-size: 70px;
  }

  .infiniteContainer {
    width: 100px;
  }
}
