.result {
  width: 100%;
  padding: 15px;
  border: 1px solid #222;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.5;
}

.success {
  color: var(--theme);
}

.error {
  color: var(--theme);
}

.info {
  color: var(--theme);
}
