span.result {
    width: 100%;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--theme);
    text-shadow: 1px 1px 1px #000;
    border-color: #222;
    box-shadow: 1px 1px 1px #000;
}